@font-face {
	font-family: 'Suisse Intl';
	src: url('fonts/SuisseIntl-Regular.eot');
	src: local('Suisse Intl Regular'), local('Suisse Intl-Regular'),
		url('fonts/SuisseIntl-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/SuisseIntl-Regular.woff') format('woff'),
		url('fonts/SuisseIntl-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {
    --black1000: #111111;
    --white1000: #ffffff; 
    --black800: #333333;
    --black400: #999999;
}

body {
    position: absolute;
    width: 100%;
	display: flex;
    margin: auto;
    flex-direction: column;
    font-family: 'Suisse Intl';
    color: var(--black1000);
}

.slides-container {
    width: 100%;
    max-width: 1920px;
    margin: auto;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.slide {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
}

#slide1 {
    justify-content: center;
    align-items: center;
}

.slide__header {
    width: 100%;
    padding-left: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 24px;
    border-bottom: 2px solid var(--black1000);
}

.slide2__container {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    width: 100%;
    height: 100%;
}

.color {
    display: flex;
    width: 100%;
    padding: 24px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    font-size: 24px;
    color: var(--white1000);
}

#c111111 {
    background-color: #111111;
}

#c333333 {
    background-color: #333333;
}

#c666666 {
    background-color: #666666;
}

#c999999 {
    background-color: #999999;
}

#cFFFFFF {
    background-color: #ffffff;
    color: var(--black1000);
}

.slide3__container {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 8px;
}

.grid {
    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    width: 100%;
}

.grid-description {
    display: flex;
    width: 120px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.grid-description-title {
    font-size: 20px;
}

.grid-description-text {
    font-size: 14px;
    color: var(--black800);
}

.slide4__container {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.font-style {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
}

.display-size {
    display: flex;
    padding: 16px;
    border-right: 1px solid var(--black1000);
    border-bottom: 1px solid var(--black1000);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    font-size: 24px;
}

.font-container1 {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-right: 1px solid var(--black1000);
    border-bottom: 1px solid var(--black1000);
    border-left: 1px solid var(--black1000);
    align-self: stretch;
    width: 100%;
}

.font-container2 {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-bottom: 1px solid var(--black1000);
    border-left: 1px solid var(--black1000);
    align-self: stretch;
    width: 100%;
}

.h1-1200 {
    font-size: 48px;
}
.h2-1200 {
    font-size: 32px;
}
.text1-1200 {
    font-size: 24px;
}
.text2-1200 {
    font-size: 18px;
}

.button-1200 {
    font-size: 18px;
}
.calendar1-1200 {
    font-size: 16px;
}
.calendar2-1200 {
    font-size: 14px;
}
.input-hint-1200 {
    font-size: 10px;
}

.elements-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 16px;
    padding: 16px;
}

.button {
    padding: 16px 32px;
    transition: 0.3s;
    display: flex;
    border: 0;
    height: 53px;
    font-size: 18px;
    border: 2px solid transparent;
}

.button:hover {
    transition: 0.3s;
    background-color: var(--black800);
    border: 0;
    color: var(--white1000);
    border: 2px solid transparent;
}

.button--primary {
    background-color: var(--black1000);
    color: var(--white1000);
    border: 2px solid transparent;
}

.button--secondary {
    color: var(--black1000);
    background-color: transparent;
    border: 2px solid var(--black1000);
}

.button--inactive {
    background-color: var(--black400) !important;
    color: var(--white1000);
    border: 2px solid transparent;
}

.pop-up-card {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    background: rgba(0,0,0,0.5)
}

.pop-up {
    position: absolute;
    padding: 24px;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--white1000);
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 2px solid var(--black1000);
}

.pop-up-title {
    font-size: 32px;
    line-height: 120%
}

.hide-pop-up {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.input {
    border: 2px solid var(--black800);
    color: var(--black800);
    padding: 16px;
    font-size: 18px;
}

.input:focus {
    border: 2px solid var(--black1000);
    color: var(--black1000);
}

.input--inactive {
    color: var(--black400);
    background-color: var(--black400);
}

textarea:focus, input:focus{
    outline: none;
}

.commentary {
    width: 120px;
}

.accordion{
    max-width: 560px;
    width: 100%;
    background: #FFF;
    margin: 0 16px;
    padding: 16px;
}
.accordion .accordion-content{
    margin: 10px 0;
    background: var(--white1000);
    border: 2px solid var(--black1000);
    overflow: hidden;
}
.accordion-content.open{
    padding-bottom: 10px;
}
.accordion-content header{
    display: flex;
    min-height: 64px;
    padding: 0 15px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s linear;
}
.accordion-content.open header{
    min-height: 35px;
}
.accordion-content header .title{
    font-size: 24px;
    font-weight: 500;
    color: #333;
}
.accordion-content header i{
    font-size: 15px;
    color: #333;
}
.accordion-content .description{
    height: 0;
    font-size: 18px;
    color: var(--black1000);
    font-weight: 400;
    padding: 0 15px;
    transition: all 0.3s linear;
}
